In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/codes_postaux.csv')

In [ ]:
df['code_postal']= df['code_postal'].astype(str)

In [9]:
df.head()

,code_commune_insee,commune,code_postal,libelle_d_acheminement,ligne_5,geopoint,latitude,longitude
0,01001,L ABERGEMENT CLEMENCIAT,1400,L ABERGEMENT CLEMENCIAT,NaN,"46.1517018,4.9306005",46.151702,4.930600
1,01002,L ABERGEMENT DE VAREY,1640,L ABERGEMENT DE VAREY,NaN,"46.007131,5.4246442",46.007131,5.424644
2,01004,AMBERIEU EN BUGEY,1500,AMBERIEU EN BUGEY,NaN,"45.9574707,5.37056825",45.957471,5.370568
3,01005,AMBERIEUX EN DOMBES,1330,AMBERIEUX EN DOMBES,NaN,"45.99922935,4.9118718",45.999229,4.911872
4,01006,AMBLEON,1300,AMBLEON,NaN,"45.74831435,5.5927847",45.748314,5.592785

In [10]:
df['code_postal']=df['code_postal'].map(lambda x : "0"+x if len(x)==4 else x)

In [13]:
df.head()

,code_commune_insee,commune,code_postal,libelle_d_acheminement,ligne_5,geopoint,latitude,longitude
0,01001,L ABERGEMENT CLEMENCIAT,01400,L ABERGEMENT CLEMENCIAT,NaN,"46.1517018,4.9306005",46.151702,4.930600
1,01002,L ABERGEMENT DE VAREY,01640,L ABERGEMENT DE VAREY,NaN,"46.007131,5.4246442",46.007131,5.424644
2,01004,AMBERIEU EN BUGEY,01500,AMBERIEU EN BUGEY,NaN,"45.9574707,5.37056825",45.957471,5.370568
3,01005,AMBERIEUX EN DOMBES,01330,AMBERIEUX EN DOMBES,NaN,"45.99922935,4.9118718",45.999229,4.911872
4,01006,AMBLEON,01300,AMBLEON,NaN,"45.74831435,5.5927847",45.748314,5.592785

In [14]:
from pandas.io.parquet import to_parquet
df.to_parquet('../data/codes_postaux_final.gzip', compression='gzip')